<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn">
        <a th:href="@{category/new}"><i class="fas fa-plus fa-2x"></i></a>
    </button>
    <div class="side-menu">
        <h3>Category</h3>
        <ul>
            <li th:each="cat: ${categories}"><a th:href="@{/searchByCategory(categoryId=${cat.id})}"
                                                th:text="${cat.categoryName}"></a></li>
        </ul>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>