<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container center">
    <h1 th:if="${method} == 'new'" th:text="#{admin.create.category}"></h1>
    <div class="row center" style="margin-top:10px">
        <form autocomplete="off" th:object="${categoryForm}" class="form center" method="POST">
            <fieldset>
                <div class="form-group">
                    <label th:text="#{category.categoryName}"></label>
                    <input type="text" th:field="*{categoryName}" class="form-control input-lg" title="name" autofocus="true"/>
                    <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('categoryName')}"
                         th:errors="*{categoryName}"></div>
                </div>
                <input th:if="${method} == 'new'" class="btn btn-outline-dark" type="submit" th:action="@{/category/new}"
                       th:value="#{category.confirm}"/>
            </fieldset>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>