<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div>
        <span th:text="#{product.count} + ' ' + ${productsCount}"></span>
        <br>
    </div>
    <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn">
        <a th:href="@{product/new}"><i class="fas fa-plus fa-2x"></i></a>
    </button>
    <br>

    <div class="side-menu" th:if="${#httpServletRequest.requestURI == '/home' or
    #httpServletRequest.requestURI == '/sortByAscPrice' or
    #httpServletRequest.requestURI == '/sortByDescPrice' or
    #httpServletRequest.requestURI == '/'
    }"
    >
        <h3>Sort</h3>
        <ul>
            <li><a th:href="@{/sortByAscPrice}" th:text="Asc"></a></li>
            <li><a th:href="@{/sortByDescPrice}" th:text="Desc"></a></li>
        </ul>
    </div>

    <br>

    <div class="row" th:if="${!products.isEmpty()}">
        <div class="col-xl-3" th:each="product: ${products}">
            <div class="product-container">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="admin">
                    <button class="btn">
                        <a th:href="@{'product/delete/' + ${product.getId()}}"><i class="fas fa-times"></i></a>
                    </button>
                    <button class="btn">
                        <a th:href="@{'product/edit/' + ${product.getId()}}"><i class="fas fa-wrench"></i></a>
                    </button>
                </div>
                <img class="card-img-top" th:if="${!product.getImageUrl().isEmpty()}"
                     th:src="${product.getImageUrl()}"
                     alt="Card image cap"
                     style="height: 246.25px">
                <div class="card-body">
                    <h4 class="card-title" th:text="${product.getName()}"></h4>
                    <p class="card-text" th:text="${product.getDescription()}"></p>
                </div>
                <div class="card-footer">
                    <p th:text="${product.getPrice()} + ' VND'"></p>
                    <a sec:authorize="isAuthenticated()" th:href="${'/cart/add/' + product.getId()}"
                       class="btn btn-lg btn-outline-info btn-block" th:text="#{product.add}"></a>
                    <a sec:authorize="!isAuthenticated()" th:href="${'/login'}"
                       class="btn btn-lg btn-outline-info btn-block" th:text="#{product.add}"></a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>