<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container center">
    <div class="row center" style="margin-top:10px">
        <form autocomplete="off" th:action="@{/login}" class="form-signin center" method="POST">
            <div th:if="${param.logout}">
                <div class="alert alert-info" th:text="#{login.alert.logged_out}"></div>
            </div>
            <fieldset>
                <h1 th:text="#{login.sign_in}"></h1>
                <label th:text="#{user.username}"></label>
                <div class="form-group">
                    <input type="text" name="username" class="form-control input-lg" placeholder="" required="true"
                           autofocus="true"/>
                </div>
                <label th:text="#{user.password}"></label>
                <div class="form-group">
                    <input type="password" name="password" class="form-control input-lg" placeholder=""
                           required="true"/>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger" th:text="*{error}"></div>
                </div>
                <span th:text="#{login.no_account}"></span>
                <span>
                            <a th:href="@{/register}" th:text="#{register.button}"></a>
                        </span>
                <input type="submit" name="login-sumbit" id="login-sumbit" class="btn btn-lg btn-primary"
                       th:value="#{user.log_in}" style="margin-top:10px"/>
            </fieldset>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>